<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="true" />
		<link rel="stylesheet" href="{{ asset('bundles/style/css/bootstrap.css') }}" />

		<title>Accueil</title>
	</head>

	<body>
		<div class="container">

			{% include 'commun/menu.html' %}

			<div class="jumbotron">

			</div> <!-- /jumbotron -->
		</div> <!-- /container -->

			{% include 'commun/piedDePage.html' %}

	</body>
</html>
