<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="true" />
		<link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.css') }}" />

		<title>Accueil</title>
	</head>

	<body>
		<div class="container">
			<!-- inclusion de la page menu.html-->
			{% include 'commun/menu.html' %}

    <!-- corp -->
			<div class="jumbotron">
				<div >
					{{ info }}
				</br>
				</div>
				 <form class="form-signin" action="/authentification" method="post">
					<h2 class="form-signin-heading">Authentifiez-vous</h2>

					<label for="inputUserName" class="sr-only">Nom d'Utilisateur</label>
					<input type="text" name="pseudo" class="form-control" placeholder="Nom d'Utilisateur" required autofocus>

					<label for="inputPassword" class="sr-only">Mot de Passe</label>
					<input type="password" name="pass" class="form-control" placeholder="Mot de passe" required autofocus>

					<button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
				</form>
					<p><a href="/inscription">Je n'ai pas encore de compte, je veux m'inscrire</a></p>
			</div> <!-- /jumbotron -->
		</div> <!-- /container -->

		<!-- inclusion de la page piedDePage.html-->
			{% include 'commun/piedDePage.html' %}
	</body>
</html>
